# ==========================================
# FONTS
# ==========================================

[".local/share/fonts/firacode-nerd-fonts"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "FiraCode.zip" | quote }}
    exact = true
    stripComponents = 0

[".local/share/fonts/jetbrains-mono-fonts"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "JetBrains/JetBrainsMono" "JetBrainsMono-*.zip" | quote }}
    exact = true
    stripComponents = 1
    include = ["fonts/ttf/**"]

[".local/share/fonts/jetbrains-mono-nerd-fonts"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "JetBrainsMono.zip" | quote }}
    exact = true
    stripComponents = 0

# ==========================================
# ICONS
# ==========================================

[".cache/WhiteSur-icon-theme"]
    type = "git-repo"
    url = "https://github.com/vinceliuice/WhiteSur-icon-theme.git"
    refreshPeriod = "168h"

